.dropdown {
    min-height: auto !important;
}

#input {
    border: 1.25px solid rgb(180, 180, 180);
}

#input::placeholder {
    color: black;
}
.react-date-picker__wrapper {
    border: 2px solid lightgrey;
    border-radius: .3rem;
    font-family: IBM Plex Sans;
    color: lightgrey;
    font-size: .75rem;
}

.react-date-picker__inputGroup__input {
    color: lightgrey;
}

.ui.default.dropdown:not(.button)>.text, .ui.dropdown:not(.button)>.default.text {
    display: contents;
}

.ui.multiple.search.dropdown>input.search {
    width: 0;
    margin: 0;
}

.ui.multiple.search.dropdown>input.search {
    margin-top: 2%;
}